@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body {
    background-color: #f3f2ef;
}

nav {
    border-bottom: 1px white solid;
    background-color: #fff;
}

nav .container {
    display: flex;
    align-items: center;
    margin: 0 13.2%;
    
}

nav > .container > svg {
    color:#0a66c2;
}

nav > .container > .search-bar {
  display: flex;
  align-items: center;
  width: 280px;
  height: 34px;
  /* border: 1px solid red; */
  margin: 0 12% 0 8px ;
  background-color: #eef3f8;
  padding: 10px;
  border-radius:4px;
}

nav .container > .search-bar > svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 2%;
}

nav .container > .search-bar > input {

    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    height: 34px;
    margin: 6px 5px 0px 2%;
    font-weight: 300;
}

nav > .container > ul li {
    list-style: none;
    display:inline-block;
    position:relative;
    margin: 0px 12px;
}

nav > .container > ul li a {
    text-decoration: none;
    color:#666666;
    display:flex;
    flex-direction: column;
    align-items: center;
}

nav > .container > ul li a:hover {
    color:#333;
}

nav > .container > ul li a > svg {
    width:24px;
    height:24px;
}

nav > .container > ul li a > span {
    font-size: 12px;
    font-weight: 300;
}

nav > .container > .me {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    border: 1px solid red;
    position: relative;
}

nav > .container > .me > a {
    color: #666666;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav > .container > .me > a >.profile-pic {
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
    overflow: hidden;
    margin-top: 4px;
}

nav >.container > .me > a >.profile-pic > img {
    width: 100%;
}

nav > .container > .me > a > span {
    text-align: center;
    vertical-align: middle;
    display:flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 100;
    height:20px;
}

nav > .container > .me > a > span:hover {
    color:#333;
    fill:#333;
}

nav > .container > .me > a > span > svg {
    width:30px;
    height: 30px;
    top:-9px;
    right:6px;
    position: relative;
}

nav > .container > .work {
    margin: 0px 30px;
    display:flex;
    flex-direction: column;
    text-align:center;
    border-left:3px solid #f3f2ef;
}

nav > .container > .work > a {
    display: flex; 
    flex-direction: column;
    text-align: center;
}



/* main */

main {
    min-height: 100vh;
    margin: 50px 190px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 225px 1fr 0.7fr;
    grid-template-rows: 1fr;
    grid-gap: 24px;
}

main > .quick-profile-area {
    /* background-color: goldenrod; */
    display: flex;
    flex-direction: column;
}

main > .quick-profile-area > .profile {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    position:relative;
    border: 1px solid #00000026;
    margin-bottom: 6px;
}

main > .quick-profile-area > .profile > .header-pic {
    width: 100%;
    height: 54px;
    background-image: url('./images/9e0ckeb27mzi70ne80f4hv7il.svg');
    background-repeat: no-repeat;
    background-size: 462px;
    background-position: center;
    position: relative;
}

main > .quick-profile-area > .profile > a > .intro {
    width: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #00000026;
    padding: 12px 16px 14px;
    position: relative;
    top: -50px;
}

main > .quick-profile-area > .profile > a  {
    text-decoration: none;
    justify-self: center;
    
}

main > .quick-profile-area > .profile > a > .intro:not(small):hover {
    text-decoration: 2px underline mediumpurple;
}

main > .quick-profile-area > .profile > a  .intro> p {
    font-family: sans-serif;
    font-weight: 549;
    color:#222;
    font-size: 14px;
    margin-top: 20px;
}

main > .quick-profile-area > .profile > a > .intro > small {
    margin-top: 6px;
    font-size: 12px;
    color: #7c7c7c;
    font-weight: 300;
}

main > .quick-profile-area > .profile > a > .intro > .pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
    margin-bottom: 5px;
    /* top: -30px; */
    overflow: hidden;
}

main > .quick-profile-area > .profile >a> .intro>.pic > img {
    width:100%;
}

main > .quick-profile-area > .profile > .connections {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 10px 0px;
    position: relative;
    border-bottom: 1px solid #00000026;
    top:-50px;   
}

main > .quick-profile-area > .profile > .connections> #connection:hover{
    background-color:#f3f2ef ;
}

main > .quick-profile-area > .profile >.connections > #connection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 10px;
}

main > .quick-profile-area > .profile >.connections > #connection >.num {
    display: flex;
    justify-content: space-between;
}

main > .quick-profile-area > .profile >.connections > #connection >.num> p {
    font-size: 12px;
    color:#666666;
}

main > .quick-profile-area > .profile >.connections > #connection >.num> span {
    font-size: 12px;
    color:#0a66c2;
    font-weight: normal;
}

main > .quick-profile-area > .profile >.connections > a {
    text-decoration: none;
}

main > .quick-profile-area > .profile >.connections > a > div {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
}

main > .quick-profile-area > .profile >.connections > a > div:hover{
    background-color: #f3f2ef;
}

main > .quick-profile-area > .profile >.connections > a > div > p {
    color: #666666;
    font-size: 12px;
}

main > .quick-profile-area > .profile >.connections > a > div > span {
    font-size: 12px;
    color:#0a66c2;
    font-weight: normal;
}

main > .quick-profile-area > .profile > .access {
    width:100%;
    position: relative;
    top: -50px;
    padding: 10px 10px;
    border-bottom: 1px solid #00000026;
}

main > .quick-profile-area > .profile > .access > a {
    text-decoration: none;
}

main > .quick-profile-area > .profile > .access:hover {
    background-color:#f3f2ef;
    color:#0a66c2;
}
main > .quick-profile-area > .profile > .access > a > p {
    font-size: 12px;
    color: #666666;
    font-weight: 300;
}

main > .quick-profile-area > .profile > .access > a >.parent {
    display: flex;
    align-items: center;
}

main > .quick-profile-area > .profile > .access > a >.parent > svg {
    width: 14px;
    height: 14px;
    margin-right: 2%;
}

main > .quick-profile-area > .profile > .access > a >.parent > span {
    font-size: 12px;
    color:#000;
}

main > .quick-profile-area > .profile > .item {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    top: -50px;
    padding: 10px;
    margin-bottom: -50px;
}

main > .quick-profile-area > .profile > .item:hover {
    background-color: #f3f2ef;
}

main > .quick-profile-area > .profile > .item > a {
    text-decoration: none;
}

main > .quick-profile-area > .profile > .item > a > span {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 12px;
}

main > .quick-profile-area > .profile > .item > a > span > svg {
    margin-right: 4px;
    top:2px;
    position: relative;
    color: #666666;
}

main > .quick-profile-area > .recent {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    position:relative;
    border: 1px solid #00000026;
    margin-bottom: 5px;
    
}

main > .quick-profile-area > .recent > .header {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px 2px 10px;
}

main > .quick-profile-area > .recent > .header > a {
    text-decoration: none;
}

main > .quick-profile-area > .recent > .header > a > p {
    color:#000;
    font-size: 12px;
    font-weight: 300;
}

main > .quick-profile-area > .recent > .header > .recent-btn {
    width:24px;
    height: 24px;
    border:none;
    outline:none;
    display:grid;
    place-items: center;
    color: #666;
    background-color: transparent;
    visibility: hidden;
}

main > .quick-profile-area > .recent > .hash {
    width:100%;
    margin-bottom: 1%;
    
}

main > .quick-profile-area > .recent > .hash > ul li {
    list-style: none;

}

main > .quick-profile-area > .recent > .hash > ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #666;
    padding: 1px 10px 6px;
    font-size: 12px;
}

main > .quick-profile-area > .recent > .hash > ul li a:hover:not(svg) {
    background-color:#f3f2ef;
}

main > .quick-profile-area > .recent > .hash > ul li a > svg {
    margin-right: 4%;
    width:16px;
    height:16px;
}

main > .quick-profile-area > .recent > a {
    width: 100%;
    padding: 12px 0px 0px 10px;
    text-decoration: none;
    font-size: 12px;
    color:#0a66c2;
}

main > .quick-profile-area > .recent > a:hover {
    text-decoration: underline;
}

main > .quick-profile-area > .recent > .event {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0px 2px 10px;
}

main > .quick-profile-area > .recent > .event > a {
    font-size: 12px;
    text-decoration: none;
    color:#0a66c2;
}

main > .quick-profile-area > .recent > .event > a:hover {
    text-decoration: underline;
}

main > .quick-profile-area > .recent > .event > .event-btn {
    width:30px;
    height: 30px;
    border: none;
    outline:none;
    display: grid;
    place-items: center;
    color:#666666;
    background-color: transparent;
}

main > .quick-profile-area > .recent > .event > .event-btn:hover {
    background-color: #f3f2ef;
    border-radius: 50%;
    color:#000;
}

main > .quick-profile-area > .recent > .followed {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main > .quick-profile-area > .recent > .followed a {
    text-decoration: none;
    color: #0a66c2;
    font-size: 12px;
    padding: 0 10px;
}

main > .quick-profile-area > .recent > .followed a:hover {
    text-decoration: underline;
}

main > .quick-profile-area > .recent > .followed > .open-btn {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    color: #666;
    border:none;
    outline: none;
    visibility: hidden;
}

main > .quick-profile-area > .recent > ul li {
    width:100%;
    list-style: none;
}

main > .quick-profile-area > .recent > ul li a {    
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #666;
    padding: 3px 10px;
    font-size: 12px;
}

main > .quick-profile-area > .recent > ul li a > svg {
    margin-right: 4%;
    width:16px;
    height:16px;
}

main > .quick-profile-area > .recent > ul li a:hover:not(svg) {
    background-color:#f3f2ef;
}

main > .quick-profile-area > .recent > .show-more {
    width:100%;
    /* margin-bottom: 34px; */
    border-bottom: 1px solid #00000026;
}

main > .quick-profile-area > .recent > .show-more > .box:hover {
    background-color:#f3f2ef;
}

main > .quick-profile-area > .recent > .show-more > a {
    text-decoration: none;
    color: #666;
    display: flex;
    font-size: 12px;
    align-items: center;
    padding: 12px 10px 30px 34px;
    
}

main > .quick-profile-area > .recent > .discover {
    width: 100%;
    display: grid;
    place-items: center;
}

main > .quick-profile-area > .recent > .discover > a {
    padding:10px;
    font-size: 14px;
    color:#666;
    text-decoration: none;
}




/* Feed */


main > .feed {
    display: flex;
    flex-direction: column;
    
}

main > .feed > .post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #00000026;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 4px;
}

main > .feed > .post >.post-bar {
    display: flex;
    align-items: center;
    padding: 8px 16px 0;
    margin: 4px 0px;
}

main > .feed > .post > .post-bar> .pic {
    width:48px;
    height: 48px;
    background-color: blanchedalmond;
    border-radius: 50%;
    margin-right: 8px;
    overflow: hidden;
}

main > .feed > .post > .post-bar> .pic > a > img {
    width: 100%;
}

main > .feed > .post > .post-bar> .bar {
    display:flex;
    height: 48px;
    align-items: center;
    border: 1px solid #ccc;
    padding:12px 8px 12px 16px;
    flex:1;
    border-radius: 30px;
    background-color:transparent;
}

main > .feed > .post > .post-bar> .bar:hover {
    background-color: #efefef;
}

main > .feed > .post > .post-bar> .bar > p {
    color: #666;
}

main > .feed > .post > .media {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
}

main > .feed > .post > .media > .btn {
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 12px;
    position: relative;
    
}

main > .feed > .post > .media > .btn > svg {
    width:24px;
    height: 24px;
    position: relative;
    top:-2px;
    
}

main > .feed > .post > .media > .btn > span {
    font-size:14px;
    padding-left: 5px;
    font-weight: 400;
    color:#666;
}

main > .feed > .post > .media > .btn:hover {
    background-color: #efefef;
    border-radius: 4px;
}

main > .feed > .post > .media > .btn1 > svg {
    color: #70b5f9;
}

main > .feed > .post > .media > .btn2 > svg {
    color: #7fc15e;
}

main > .feed > .post > .media > .btn3 > svg {
    color: #efc27e;
}

main > .feed > .post > .media > .btn4 > svg {
    color: #f5987e;
}

main > .feed > .separate {
    display: flex;
    align-items: center;
}

main > .feed > .separate > hr {
    border: 0;
    height: 1px;
    width:410px;
    background-color: #ccc;
    margin: 0 8px 0 2px;
}

main > .feed > .separate > .sort {
    display: flex;
    align-items: center;
}

main > .feed > .separate > .sort > span {
    color: #666666;
    font-size: 12px;
}

main > .feed > .separate > .sort > span:first-child {
    padding-right: 4px;
}

main > .feed > .separate > .sort > span:nth-child(2) {
    color:#000;
}

main > .feed > .separate > .sort > svg {
    width: 16px;
    height: 16px;
    color: #000;
    margin-left: 3px;
}














main > .most-viewed {
    background-color: mediumorchid;
}